USERNAME=your_username_here
PASSWORD=pbkdf2_sha256$600000$replace_with_hash_from_hash_password_py

TRADIER_ACCOUNT_ID=VA000001
TRADIER_API_TOKEN=your_tradier_api_token_here
TRADIER_BASE_URL=https://api.tradier.com/v1
BENCHMARK_SYMBOL=SPY

POSITION_SIZE_DEFAULT_PERCENT=5

# For paper trading, use:
# TRADIER_BASE_URL=https://sandbox.tradier.com/v1
